@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

$tablet-width: 768px;
$desktop-width: 1024px;

@mixin phone {
	@media (max-width: #{$tablet-width - 1px}) {
		@content;
	}
}

@mixin tablet {
	@media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: #{$desktop-width}) {
		@content;
	}
}

@mixin svgHover {
    svg:hover {
        @content;
    }
}

* {
    box-sizing: border-box;
}

html {
    width: 100%;
    min-height: 100%;

    background-color: #214;

    $font-color: #fef;
    $font-dark-color: #ede;

    body {
        position: relative;
        height: 100%;
        margin: 0;

        main {
            width: 100%;
            height: 100%;
            padding-bottom: 5rem;

            .padding {
                height: 20vh;
            }
    
            .glass {
                position: relative;
                // background: rgba( 72, 182, 249, 0.5 );
                background: linear-gradient(355deg, rgba( 72, 182, 249, 0.4 ) 0%, rgba( 72, 182, 249, 0.5 ) 80%, rgba( 72, 182, 249, 0.7 ) 100%);
                box-shadow: 0 8px 32px 0 rgba( 0,0,0, 0.3 );
                backdrop-filter: blur(10px);
                border-radius: 10px;
                border: 2px solid rgba( 255, 255, 255, 0.18 );
                width: fit-content;
                margin: auto;

                z-index: 100;
                p {
                    margin: 1rem;
    
                    color: $font-color;
                    font-family: 'Rubik', sans-serif;
                    font-size: 54px;

                    @include phone {
                        font-size: 36px;
                    }

                    font-weight: 500;
                    text-align: center;

                    &.small {
                        font-weight: 400;
                        font-size: 32px;
                        color: $font-dark-color;

                        @include phone {
                            font-size: 24px;
                        }
                    }
                }
            }

            #overview {
                padding: 1rem 4rem;

                @include phone {
                    width: calc(100% - 2rem);
                    margin: 1rem;
                    padding: 1rem;
                }

                
                #socials {
                    display: flex;
                    width: fit-content;
                    margin: 2rem auto;
                    $social-bg: rgba( 22, 112, 189, 1 );

                    .social {
                        cursor: pointer;

                        svg {
                            $stroke: 1.25;

                            margin: 0 1rem;
                            stroke-width: $stroke;
                            fill: transparent;
                            width: 72px;
                            height: 72px;

                            @include phone {
                                width: 48px;
                                height: 48px;
                            }

                            stroke-linejoin: round;
                            stroke-linecap: round;
                            stroke: #ece;
                            filter: drop-shadow( 0px 3px 2px rgba(0, 0, 0, .2));

                            &:hover {
                                filter: drop-shadow( 0px 3px 2px rgba(0, 0, 0, 0.5));
                            }

                            &#mail {
                                &:hover {
                                    stroke: #fef;
                                }
                            }

                            &#yt {
                                &:hover {
                                    stroke: #f77;
                                }
                            }

                            &#github {
                                margin-left: 0.25rem;
                                margin-right: 0.25rem;
                                &:hover {
                                    stroke: #9af;
                                }
                            }

                            &#itch {
                                stroke-width: $stroke;
                                &:hover {
                                    stroke: #e88;
                                }
                            }

                            transition: all 0.2s;
                        }
                    }
                }
            }

            #skills {
                padding: 1rem 2rem;
                margin-top: 6rem;
                margin-bottom: 3rem;
                width: fit-content;
                border-radius: 10px 10px 0 0;

                #tech {
                    display: flex;
                    .tech-item {
                        cursor: pointer;
                        svg {
                            fill: #ece;
                            filter: drop-shadow( 0px 3px 2px rgba(0, 0, 0, .2));
                            $size: 64px;
                            margin: 0.5rem 0.5rem;
                            width: $size;
                            height: $size;
                            flex-wrap: wrap;

                            &:hover {
                                filter: drop-shadow( 0px 3px 2px rgba(0, 0, 0, 0.5));
                            }
                            transition: all 0.2s;
                        }
                        &#tech-js {
                            @include svgHover {
                                fill: #dd9;
                            }
                        }
                        &#tech-ts {
                            @include svgHover {
                                fill: #99d;
                            }
                        }
                        &#tech-html {
                            @include svgHover {
                                fill: #f77;
                            }
                        }
                        &#tech-css {
                            @include svgHover {
                                fill: #aaf;
                            }
                        }
                        &#tech-sass {
                            @include svgHover {
                                fill: #f79;
                            }
                        }
                        &#tech-docker {
                            @include svgHover {
                                fill: #99f;
                            }
                        }
                        &#tech-py {
                            @include svgHover {
                                fill: #88d;
                            }
                        }
                        &#tech-php {
                            @include svgHover {
                                fill: #99c;
                            }
                        }
                    }
                }
            }

            #carousel {
                cursor: grab;
                position: relative;
                height: 32rem;
                width: 100%;
                background: rgba(0, 0, 0, 0.0001);
                margin: auto;
                z-index: 100;
                .glass {
                    position: absolute;
                    $translate-dist: 370%;
                    animation: carousel-rotation 4s linear 4s infinite;
                    animation-play-state: paused;
                    animation-delay: -2s;
                    width: 40rem;
                    height: 25rem;
                    left: calc(50% - 20rem);
                    top: 5rem;
                    box-shadow: 0 8px 24px 0 rgba( 0, 0, 0, 0.15 );

                    &.focus {
                        box-shadow: 0 8px 20px 8px rgba( 0, 0, 0, 0.35 );
                    }

                    // rotation
                    opacity: 100%;
                    transform: translateY($translate-dist) rotate(0deg) translateY(-$translate-dist);

                    @keyframes carousel-rotation {
                        from {
                            transform: translateY(2 * $translate-dist) rotate(-70deg) translateY(2 * -$translate-dist);
                            opacity: 0%;
                        }
                        25% {
                            transform: translateY($translate-dist) rotate(-35deg) translateY(-$translate-dist);
                            opacity: 60%;
                        }
                        50% {
                            transform: translateY($translate-dist / 1.25) rotate(0deg) translateY(-$translate-dist / 1.25);
                            opacity: 100%;
                        }
                        75% {
                            transform: translateY($translate-dist) rotate(35deg) translateY(-$translate-dist);
                            opacity: 60%;
                        }
                        to {
                            transform: translateY(2 * $translate-dist) rotate(70deg) translateY(2 * -$translate-dist);
                            opacity: 0%;
                        }
                    }

                    transition: animation-delay 0.6s, box-shadow 0.1s;
                }
                overflow: hidden;
            }
        }

        #bubbles {
            min-height: 100%;
            width: 100%;
            overflow: hidden;
            // background: rgb(139,0,139);
            background: linear-gradient(0deg, rgba(139,0,139,1) 0%, rgba(116,98,224,1) 100%);

            position: absolute;
            top: 0;

            padding-bottom: 20rem;
            margin-bottom: 100rem;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);

            bubble {
                position: absolute;
                
                border: 2px solid rgba(255, 255, 255, 0.3);

                background-color: rgba( 255, 255, 255, 0.15 );
                border-radius: 100rem;

                z-index: 20;

                filter: blur(4px);
            }
        }
    }
}
